
/.idea
/__pycache__
/custom_controls/__pycache__
/custom_controls/buttons/__pycache__
/custom_controls/__pycache__
/custom_controls/__pycache__
/custom_controls/explorer
/drop_box/__pycache__
/custom_controls/explorer/__pycache__
